.header {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005a8f;

  .header-title {
    color: rgb(255, 153, 28);
    font-size: 2em;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
  }
}
